/* From Uiverse.io by vinodjangid07 */
.content-sendEmail-card {
    margin-left: 10px;
    width: 1000px;
    height: fit-content;
    background-color: rgb(255, 250, 250);
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
}

.content-sendEmail-heading {
    width: 100%;
    justify-content: space-between;
    display: flex;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

.content-sendEmail-para {
    font-size: 18px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.button-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.content-sendEmail-button {
    width: 50%;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accept {
    background-color: rgb(34, 34, 34);
    color: white;
}

.reject {
    background-color: #ececec;
    color: rgb(34, 34, 34);
}

.accept:hover {
    background-color: rgb(0, 0, 0);
}

.reject:hover {
    background-color: #ddd;
}

.exit-button {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.exit-button:hover {
    background-color: #ddd;
    color: white;
}

.svgIconCross {
    height: 10px;
}

.logos {
    width: 70px;
    height: 40px;
}

.title-span {
    font-size: 25px;
}

.logo-fortox {
    height: 60px;
}

.content-novedad-gestion {
    display: flex;
}

.gestion p,
.novedad p {
    font-size: 14px;
}

.novedad {
    border-right: 1px solid black;
}

.novedad,
.gestion {
    width: 50%;
    padding-left: 15px;
}

.title-gn {
    color: rgb(34, 34, 34);
    font-weight: 800;
    font-size: 20px;
}

.comentario-puesto {
    max-width: 220px;
    padding: 8px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.comentario-puesto:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.comentario-puesto:active {
    transform: scale(0.95);
}

.comentario-puesto:focus {
    border: 2px solid grey;
}

.list-destinatarios ul li {
    border-bottom: 1px solid rgb(34, 34, 34);
    padding-bottom: 4px;
    cursor: pointer;
    list-style: none;
}

list-destinatarios .title-gn {
    font-size: 12px;
}

.list-destinatarios ul {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 20px;
    padding: 0 30px;
}

.list-destinatarios {
    margin-left: 40px;
    width: 350px;
    background-color: rgb(255, 250, 250);
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
    height: 520px;
    padding: 20px 20px;
}

body {
    display: flex;
    justify-content: center;
}

.content-img {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.emal-img {
    border-radius: 5px;
    width: 240px;
}

.content-two {
    display: flex;
    width: 100%;
}

.content-two .content1 {
    width: 50%;
}