<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="El Sistema de Acceso Seguro SATOR es una plataforma diseñada para gestionar solicitudes y control de acceso en las instalaciones aledañas de Sator, además de la comunicación entre diferentes roles: contratistas, interventores, personal SST y Seguridad.">
    <meta name="keywords" content="SATOR, acceso seguro, control de acceso, gestión de contratistas, SST, seguridad industrial">
    <meta property="og:title" content="Sistema de Acceso Seguro SATOR - Inicio de Sesión">
    <meta property="og:description" content="Plataforma integral para la gestión de accesos y comunicación entre contratistas, interventores y personal de seguridad en las instalaciones de Sator.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.acceso-seguro-sator.com">
    <meta name="robots" content="index, follow">
    <title>Sistema de Acceso Seguro SATOR - <%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="container">
      <div class="login-card">
        <div class="logo-card">
          <img src="/img/TSM-Sator-Logo.webp" alt="Logo" class="logo">
          
          <h1>Iniciar Sesión</h1>
        </div>
        <div>
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="username">Usuario</label>
              <input id="username" type="text" name="username" placeholder="Ingrese su usuario" required>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input id="password" type="password" name="password" placeholder="Ingrese su contraseña" required>
            </div>
            <button type="submit">Ingresar</button>
          </form>
        </div>
        <p class="register">
          ¿No tienes cuenta? 
          <a href="/register">Regístrate</a>
        </p>
      </div>
    </div>
  </body>
</html>
  